.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid #181D31;
    padding: 30px;
    border-radius: 5px;
    margin-top: 3%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    font-size: 1rem;
}

.task {
    background-color: #C2FFF9;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 2% 0;
    padding: 3% 0;
}

.task-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C2FFF9;
    border-radius: 5px;
}



.form-control {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

.form-control input {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 2% 2%;
}

.form-control label {
    padding-bottom: 5px;
}

.submit-btn {
    background-color: #009DAE;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 60px;
    margin: 5% 0;
}

@media screen and (max-width:768px) {
    .container {
        max-width: 300px;
    }

    .header h1 {
        font-size: 1.7rem;
    }
}